In [ ]:
#반복문 => for ~ in / while

```
for 변수 in (list || string => literable 객체 속성을 가지고 있는 자료구조)
    실행문
```
while  조건:
    실행문
=> 조건식이 참인 동안에 반복

# 함수 : 프로그래밍 언어, 꽃

In [10]:
lan = ["파이썬", "TS", "Node"]
for item in lan :
    print(item)

파이썬
TS
Node

In [27]:
lan = ["파이썬", "TS", "Node"]
for i in lan :
    print(i, "프로그램언어")

파이썬 프로그램언어
TS 프로그램언어
Node 프로그램언어

In [ ]:
문자열아 아닌경우

In [19]:
for num in range(1, 11) :
    print(num)

1
2
3
4
5
6
7
8
9
10

In [25]:
for num in range(1,4) :
    input("최애 음식은?")

최애 음식은? 아
최애 음식은? 오
최애 음식은? ㅇㅏ

In [28]:
range(3)

range(0, 3)

In [30]:
data_list = ["list1", "list2", "list3"]
for index in data_list :
    print(index)

list1
list2
list3

In [45]:
sum = 0

for index in range(1, 11) :
    sum = sum + index
    sum += index
    sum -= index
print(sum)
#복합 대입 연산자

55

In [49]:
name = input("what's your name?")
while name != "foo" :
    print(f"Hi {name}!" "What your name?")

what's your name? foo

In [ ]:
1-10 까지,  숫자의 대해 모두 더한 값을 출력

In [55]:
sum1 = 0
for index in range(1, 11) :
    sum1 += index
print(sum1)

55

In [ ]:
2-9 숫자 입력받음 해당 숫자의 대한 구구단 출력

In [67]:
1, 사용자에게 값을 받는다
2. 해당 값을 가지고 값을 변수에 넣음, 변수 값을 반복적으로 곱함
3. 변수값을 곱함 / 반복문 사용을 위해 range 함수 사용

SyntaxError: invalid syntax (204855074.py, line 1)

In [73]:
data = int(input())
if data >=2 and data <=9 :
    for digit in range(1, 10) :
        print(f"{data} X {digit} = {data * digit}")

 2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [ ]:
name = "[David], [Andy], [Juli], [Dave]"
- 위 name 변수 안에 담긴 값을 다음처럼 화면에 출력
    name

In [86]:
name = "[David], [Andy], [Juli], [Dave]"
name01 = name.split(",")
for str_name in name01 :
    print(str_name [1:-1])

David
[Andy
[Juli
[Dave

In [ ]:
1-30 3의 배수

In [89]:
number03 = range(1,31)
number04 = name03 / 3
while number04 % == 0 :
    print(number04)

SyntaxError: invalid syntax (2943622384.py, line 3)

In [94]:
num = 0
while num < 30 :
    num += 1
    if num % 3 == 0 :
        print(num)

3
6
9
12
15
18
21
24
27
30

In [97]:
for num1 in range(1,31) :
    if num1 % 3 == 0 :
        print(num1)

3
6
9
12
15
18
21
24
27
30

In [ ]:
-리스트에 자료구조 음수값 삭제, 양수값 새로운 리스트 변수 만들어 출력

In [109]:
num_list = [0, -11, 31, 22, -11, 33, 44, -55]
if num_list > 0 :
    print(num_list)

TypeError: '>' not supported between instances of 'list' and 'int'

In [101]:
num_list = [0, -11, 31, 22, -11, 33, 44, -55]
for data in num_list :
    if data > 0 :
# new_list.append(num)
        print(data)

31
22
33
44

In [ ]:
- 아래 리스트에 있는 데이터들의 문자열 길이 출력 (*한줄 1개씩 구분)
- lsit_data = ["java","phython","node"]

In [106]:
list_data = ["java","phython","node"]
for num1 in list_data :
    print(len(num1))

4
7
4

In [114]:
num = 0
while num < 100 :
    num += 1
    if num % 5 == 0 :
        print(num)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [116]:
print(f"Hello {input()}")

 김용진

Hello 김용진

In [117]:
a = [1, 2, 3]
print(a[0])

1

In [115]:
filelist = ["exercise_docx","exercfqese_docx","exgasfdgercise_docx","exedfrcise_docx"]
for list01 in filelist :
    print(list01.strip("_docx"))

exercise
exercfqese
exgasfdgercise
exedfrcise

In [120]:
filelist = ["exercise_docx","exercfqese_docx","exgasfdgercise_docx","exedfrcise_docx"]
for list01 in filelist :
    print(list01.split("_")[0])

exercise
exercfqese
exgasfdgercise
exedfrcise

In [ ]:
filelist =["exercise_docx","exercfqese_docx","exgasfdgercise_txt","exedfrcise_txt"]

In [122]:
filelist =["exercise_docx","exercfqese_docx","exgasfdgercise_txt","exedfrcise_txt"]
for list01 in filelist:
    if list01.split("_")[1] == "txt" :
        print(list01)

exgasfdgercise_txt
exedfrcise_txt

In [1]:
numbers = [1, 2, 3, 4, 5]

for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2  # 인덱스로 직접 수정
    print(numbers)

[2, 2, 3, 4, 5]
[2, 4, 3, 4, 5]
[2, 4, 6, 4, 5]
[2, 4, 6, 8, 5]
[2, 4, 6, 8, 10]

In [2]:
x = 1
y = 2

In [3]:
temp = x
x = y
y = temp

In [5]:
x

2