In [2]:
국어 = 80
영어 = 75
수학 = 55
list01 = [국어, 영어, 수학]
averge01 = sum(list01) / len(list01)
print(averge01)

70.0

In [3]:
- 사용자 점수 입력 / 등급 출력 / 등급
- A 100~80 B 80 61 C 60 0

SyntaxError: invalid syntax (3897176316.py, line 1)

In [10]:
Grade01 = int(input())
if Grade01 <=60 :
    print("C")
    if Grade01 <=80 :
        print("B")
else : print("A")

 75

A

In [ ]:
data01 = int(input("사용자점수"))
if data01 >= 81 and <= 100
    print("A")

In [ ]:
주민등록번호 입력, 출생연도만 확인 후 출력

In [20]:
number01 = input("출생년도입력!")
print(number01[0:2])

출생년도입력! 990629

99

In [31]:
age01 = input("출생년도입력!")
print(f"{age01.split("-")[0][0:2]}년생")

출생년도입력! 990629 - 1071210

99년생

In [ ]:
사용자 주민등록 번호, 성별 남성, 여성

In [46]:
age02 = input("출생년도입력!")
if '1' or '3' in [age02.split("-")[1][0]] :
    print("남성")
else :
    print("여성")

출생년도입력! 990629 - 2071210

남성

In [54]:
age02 = input("출생년도입력!")
if age02.split("-")[1][0] in '1' or '3' :
    print("남성")
else :
    print("여성")

출생년도입력! 990629 -10711210

남성

In [51]:
age02 = input("출생년도입력!")
if [age02.split("-")[1][0]] in '1' or '1' in [age02.split("-")[1][0]] :
    print("남성")
else :
    print("여성")

출생년도입력! in [age02.splint("-")[1][0]]

AttributeError: 'str' object has no attribute 'splint'

In [34]:
mystr = "a man goes into the room..."
print(mystr.strip(.))
=> strip 들여쓰기 등 모든 대행 지워줌

a man goes into the room

In [53]:
code01 = "007\n"
code01.strip()

'007'

In [60]:
phyton_desc = "First check the Python FAQs, with answers to many common, general Python questions. The Python Help category of the discuss.python.org website hosts usage questions and answers from the Python community.The tutor list offers interactive help.If the tutor list isn't your cup of tea, there are many other mailing lists and newsgroups.Stack Overflow has many Python questions and answers.You can post questions and ask for general advice about your code at the r/LearnPython subreddit.If you suspect a bug in the Python core, search the Python Bug Tracker.If you think you've found a security vulnerability in Python, please read the instructions for reporting security issues.If you've found a problem with this web site, check the pythondotorg issue tracker."
phyton_desc.count("phython")

0

In [ ]:
사용자로부터 note라는 문자열을 받았다고 가정 / 해당 문자열 안에 n 이 있는지 확인

In [58]:
letters01 = input()
if "note" in 'letters' :
    print("0")
else :
    print("1")

 n

1

In [63]:
letters02 = input()
var01 = letters02.find("a")
var01

#if var01 == 0 :
#    print(0)
#else :
#    print(-1)

 aarrr

0

In [ ]:
# 일반적으로 프로그래밍언어는 true, false 존재
# truethy, falsy ==> 참인듯한 값 ,거짓인듯 값
# 0, null, undefinded ==> falsy
# 파이썬 ==> 0 => truethy, -1 ==> falsy
# 객체 -> 자료구조의 형태 -> 인스턴스 객체

In [ ]:
 사용자, 주민등록번호, 사용자의 출생지, 어디인지?

In [83]:
age02 = input("출생년도입력!")
Seoul = [f"{i:02}" for i in range(0,9)]
if age02.split("-")[1][2:4] in 'Seoul' :
    print("서울")
else :
    print("부산")

출생년도입력! 990629 -1071210

부산

In [84]:
data02 = input()
location01 = int(data02.split("-")[1][2:4])
if location01 >= 0 and location01 <= 8 :
    print("서울")
else :
    print("부산")

 990629 - 1071210

서울