In [ ]:
- 사용자로부터, 어떤 값을 받고, 해당 값을 한화로 바꿔서 출력

In [15]:
f"{int(input("달러입력")) * int(input("환율입력")):,} 원"

달러입력 100
환율입력 1200

'120,000 원'

In [14]:
num1 = int(input("달러입력"))
print(num1, "$")
num2 = int(input("환율입력"))
print(num2, "won")
print(f" 환율 {num2} $ // {num1 * num2} Won")

달러입력 10

10 $

환율입력 10

10 won
 환율 10 $ // 100 Won

In [ ]:
- 달러 환율, 1112원 / 위안화  171 / 엔화 환율 1100 / 해당 화폐당 환율 딕셔너리

In [65]:
dic1 = {"달러": 1112, "위안화": 171, "엔화": 1100}
#list1 = set(dic1.keys())
#list2 = dic1.values()
#list3 = set(input())
#list4 = list1 & list3

dic1[input()]

 달러

1112

In [ ]:
# 2-9 까지 숫자

In [45]:
for num01 in range(2, 10) :
    print(f" - 구구단 {num01}단")
    for num02 in range(2, 10) :
        print(f"{num01} X {num02} = {num01 * num02}")
    print(

 - 구구단 2단
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
 - 구구단 3단
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
 - 구구단 4단
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
 - 구구단 5단
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
 - 구구단 6단
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
 - 구구단 7단
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
 - 구구단 8단
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
 - 구구단 9단
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [52]:
for num01 in range(2, 10) :
    for num02 in range(2, 10) :
        if num01 * num02 % 2 == 0 :
            print(f"{num01} X {num02} = {num01 * num02}")

2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 2 = 6
3 X 4 = 12
3 X 6 = 18
3 X 8 = 24
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 2 = 10
5 X 4 = 20
5 X 6 = 30
5 X 8 = 40
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 2 = 14
7 X 4 = 28
7 X 6 = 42
7 X 8 = 56
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 2 = 18
9 X 4 = 36
9 X 6 = 54
9 X 8 = 72

In [58]:
dongs = ["6209동", "6208동", "6207동"]
hos = ["103호", "102호", "101호", "104호"]

for i in dongs :
    for i2 in hos :
        print(i, i2)
    print()

6209동 103호
6209동 102호
6209동 101호
6209동 104호

6208동 103호
6208동 102호
6208동 101호
6208동 104호

6207동 103호
6207동 102호
6207동 101호
6207동 104호

In [60]:
tupledata = ("coding01", "conding02", "coding03")
tuple_list = list(tupledata)
tuple_list.append("cdding04")
result = tuple(tuple_list)

In [ ]:
- 딕셔너리 형태의 자료구조를 하나 만들어서 아래와 같이 값을 출력해주세요

In [89]:
dic02 = {"a": 1, "b": 2, "c": 3, "d" : 4}
for i in dic02.keys() :
    for i2 in dic02.values() :
        num1 = f"{i} : {i2}"
        print(num1)

a : 1
a : 2
a : 3
a : 4
b : 1
b : 2
b : 3
b : 4
c : 1
c : 2
c : 3
c : 4
d : 1
d : 2
d : 3
d : 4

In [92]:
list01 = []
list02 = dic02.values()
for list02 in dic02.keys() :
        list01.append(list02)
print(list01)

['a', 'b', 'c', 'd']

In [97]:
dic02 = {"a": [1, "o"], "b": [2, "x"], "c": [3, "x"], "d" : [4, "x"]}
for item in dic02.keys() :
    print(f"{item} : {dic02[item]}")

a : 1
b : 2
c : 3
d : 4

In [ ]:
- 사용자로부터 사전에 등록되어있는 단어들 중 1개를 입력받으세요, 그러면 입력받은 ㅂ단어의 경우, 외움표시 o 수정
-아직 외우지 못한 단어들만 출력하는 프로그램 코드

In [107]:
dic02 = {"a": [1, "o"], "b": [2, "x"], "c": [3, "x"], "d" : [4, "x"]}
list02 = dic02[input()]
if list02 in ["x"] :
    list02.replace('x','o')
dic02

if english in data

 c

{'a': [1, 'o'], 'b': [2, 'x'], 'c': [3, 'x'], 'd': [4, 'x']}

In [ ]:
if english in data.key() :
    data[english][1] = "o"
else :
    print("사전에 준재하지 않은 단어")

In [116]:
dic_all = {"enviromment" : "환경", "goverment" : "정부"}
dic2 = {"company" : "회사", "face" : "얼굴"}
dic3 = {"apple" : "사과"}

for item in dic2.keys() :
    dic_all[item] = dic2[item]
    
for item3 in dic3.keys() :
    dic_all[item3] = dic3[item3]
dic_all

{'enviromment': '환경',
 'goverment': '정부',
 'company': '회사',
 'face': '얼굴',
 'apple': '사과'}

In [118]:
number_list = {1, 2, 3}
number_list.add(4)
number_list.update([5, 6])
number_list.remove(2)

number_list

{1, 3, 4, 5, 6}

In [ ]:
``` 임의의 숫자 2개를 사용자에게 받으면 해당 2개의 숫자를 곱한 값을 반한하는 함수를 만들고 출력

In [125]:
def add(a,b) :
    print(a * b)

In [124]:
add

In [138]:
num_all = [int(input("숫자를 입력하세요")) for _ in range(2)]

def f1(num1, num2) :
    return num1 * num2

print(f1(num_all[0], num_all[1]))

숫자를 입력하세요 1
숫자를 입력하세요 2

2

In [ ]:
- 인자값 3개 함수 호출
- func1(a, b, c)
- 해당 함수 3번쨰 인자값, + => 첫번쨰 인자값과 두번째 인자값을 더한 함수값, 만약, 세번째 인자값 곱하기라면, 첫번째 인자값과 두번째 인자값반환
만약 무조건 0 이라는 값을 반환하는 함수 만들어 주세요

In [173]:

def func1(a, b, c) :
    if c == "+" :
        print(a + b)
    elif c == "*" :
            print(a*b)
    else : 
        print("0")

In [171]:
func1(1,2,"*")

2

In [178]:
def calc(data, data2, way) :
    if way == "+" :
        return data + data2
    elif way == "*" :
        return data * data2
    else :
        return 0

data01 = calc(1, 2, "*")